# .travis.yml for R projects

compiler:
  - gcc
  - clang

os:
  - linux
  - osx

before_install:
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then curl -O http://r.research.att.com/libs/gfortran-4.8.2-darwin13.tar.bz2 ; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then tar fvxz gfortran-4.8.2-darwin13.tar.bz2 -C / ; fi

language: r
r:
  - oldrel
  - release

warnings_are_errors: true

sudo: required

r_packages:
  - covr

after_success:
  - Rscript -e 'library(covr); codecov(type="all")' Using Wercker CI

# install sglOptim
r_github_packages:
 - vincent-dk/sglOptim
